/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

/** Proxima Nova **/


@font-face {
    font-family: 'proxima_nova_altbold';
    src: url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.eot');
    src: url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff2') format('woff2'),
         url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff') format('woff'),
         url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.ttf') format('truetype'),
         url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.svg#proxima_nova_altbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
    src: url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff2') format('woff2'),
         url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),
         url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
         url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot');
    src: url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff2') format('woff2'),
         url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff') format('woff'),
         url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.ttf') format('truetype'),
         url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_ltthin';
    src: url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.eot');
    src: url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff2') format('woff2'),
         url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff') format('woff'),
         url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.ttf') format('truetype'),
         url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.svg#proxima_nova_ltthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Conv_Product Sans Regular';
	src: url('../fonts/Product Sans Regular.eot');
	src: local('☺'), url('../fonts/Product Sans Regular.woff') format('woff'), url('../fonts/Product Sans Regular.ttf') format('truetype'), url('../fonts/Product Sans Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	webkit-font-smoothing: none; 
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Conv_Product Sans Bold';
	src: url('../fonts/Product Sans Bold.eot');
	src: local('☺'), url('../fonts/Product Sans Bold.woff') format('woff'), url('../fonts/Product Sans Bold.ttf') format('truetype'), url('../fonts/Product Sans Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html{
	height: 100%;
}

body{
	height: 100%;
	margin: 0;	
	padding: 0;
	font-family: 'Proxima Nova';
}

.center{
	text-align: center;
}

.nopad{
	padding: 0;
}

.btn-mobile{
	margin: 20px 0;
} 

.next-step{
	text-align: center;
    margin: 40px 0;
	.btn{
	    padding: 10px 50px;
        border-radius: 5px;
        background: #25a69d;
        color: #fff;
	    font-family: 'Conv_Product Sans Bold';
	    text-align: center;
	    font-size: 26px;
	    display: inline-block;
	    width: 100%;
	    border: none;
	    box-shadow: none;
	    i{
	    	margin-left: 10px;
	    }
	    &:hover{
	    	color: #1e847d;
	    }
	}
}

.btn{
	background: #25a69d;
	font-family: 'Conv_Product Sans Bold';
	text-align: center;
	font-size: 18px;
	display: inline-block;
	a{
		color: #fff;	
		padding: 10px 50px;	
		text-decoration: none;
		&:hover{
			color:#1e847d;
		}
	}
}

.clear{
	clear: both;
}

.radio-group{
	.error{
	    position: inherit;
        text-align: center;
	}
	.radio{
		cursor: pointer;
		list-style: none;
		font-family: 'Conv_Product Sans Regular';	
		font-size: 20px;
		border: 1px solid #efefef;
		padding: 20px;
		border-radius: 5px;
		margin: 20px 40px;
		display: block;
		@media screen and (max-width: 1024px) {
			margin: 0 0 20px;
		}
		img{
			float: left;
		}
		.text{
			float: left;
		    margin: 0;
		    @media screen and (max-width: 1024px) {
				font-size: 14px;
		    }
			span{
				font-family: 'Conv_Product Sans Bold';
			}
		}
	}
	.selected{
		 border: 2px solid #25a69d;
	}	
}




.yes-no{
	.choose2 {
		text-align: center;
		margin: 0;
		padding: 0;
		border: none;
		@media screen and (max-width: 1024px) {
			margin-bottom: 20px;
		}
		.blocks{
			border: 1px solid #efefef;
		    margin: 20px;
    		padding: 20px;
    		@media screen and (max-width: 1024px) {
			    margin: 10px 5px;
    		}
			img{
				float: none;
				display: inline-block;
			}
			.text{
				float: none;
				display: inline-block;
			}
		}
		
	}
	.selected{
	    .blocks{
    	    border: 2px solid #25a69d;
	    }
	}
}


#rates{	
	@media screen and (max-width: 1024px) {
		background: #fafafa;
		.title{
			color: #5a5a5a;
		}
	}
}

#result{
	.panel-group{		
		.panel-default{
			border-radius: 0;
			border: none;
		    margin: 40px 0;
		    background: none;
			.panel-heading{
				background: #fff;
			    padding: 10px 20px;
	        	border: 1px solid #ddd;
				.panel-title{
					font-size: 22px;
					font-family: 'Conv_Product Sans Regular';
					a{
						display: block;
						color: #25a69d;
						text-decoration: none;
						span{
							font-size: 20px;
							font-family: 'Conv_Product Sans Bold';
						}
					}
				}
			}

			#collapseOne {
				.tab-left{
					border:none; 
				}
			}
			#collapseTwo{
				@media screen and (max-width: 1024px) {
					.tab-column{
						padding: 20px;
					}
				}
			}
			.panel-body{
				border: 1px solid #ddd;
			    background: #fff;
				.tab-column{
					font-family: 'Conv_Product Sans Regular';
					color: #7a7a7a;
					.tab-left{
						border-right: 1px solid #ddd;
						display: inline-block;
						@media screen and (max-width: 1024px) {
							border: none;
						}
						.tab-left-block{
						    padding: 20px;
						    position: relative;
						    @media screen and (max-width: 1024px) {
						    	padding: 0;
						    }
						    #indicatorContainer{
						    	position: relative;
						    	height: 100%;
						    	.isi{
						    		position: absolute;
						    		text-align: center;
						    		top: 30%;
									margin: auto;
									left: 0;
									right: 0;
									span{
										font-size: 18px;
										color: #7b7b7b;
								    	line-height: 14px;
										font-family: 'Conv_Product Sans Bold';
									}
									.prc{
										font-size: 28px;
										color: #7b7b7b;
									}
						    	}
						    	canvas{
						    		width: 100% !important;
						    		height: 100% !important;
						    	}
						    }
						    .col-isi{
					    	   	 margin-top: 20px;
						    	.titlex{
							    	font-size: 23px;
							    	font-family: 'Conv_Product Sans Bold';
							    	color: #7b7b7b;
						    	    line-height: 25px;
									display: table-cell;
									vertical-align: bottom;
									height: 50px;
							    }
							    .price{
							    	font-family: 'Conv_Product Sans Bold';
									color: #ffbf3e;
									font-size: 30px;
								    margin: 10px 0;
							    }
						    }
						    
						    .col-right{
								padding: 20px;
								.title{
									font-size: 22px;
								}
								.percentage{
									font-size: 27px;
									font-family: 'Conv_Product Sans Bold';
								}
								.ask{
									position: absolute;
									top: 10px;
									right: 0;
								}
							}
						}						
					}
					.tab-right{
					    display: inline-block;
						.tab-right-block{
							padding: 20px;
							position: relative;
							@media screen and (max-width: 1024px) {
								padding: 0;
							}
							#indicatorContainer2{
						    	position: relative;
						    	height: 100%;
						    	.isi{
						    		position: absolute;
						    		text-align: center;
						    		top: 35%;
									margin: auto;
									left: 0;
									right: 0;
									span{
										font-size: 18px;
										color: #7b7b7b;
								    	line-height: 14px;
										font-family: 'Conv_Product Sans Bold';
									}
									.prc{
										font-size: 28px;
										color: #7b7b7b;
									}
						    	}
						    	canvas{
						    		width: 100% !important;
						    		height: 100% !important;
						    	}
						    }
						    .col-isi{
					    	   	 margin-top: 20px;
						    	.titlex{
							    	font-size: 23px;
							    	font-family: 'Conv_Product Sans Bold';
							    	color: #7b7b7b;
						    	    line-height: 25px;
									display: table-cell;
									vertical-align: bottom;
									height: 50px;
							    }
							    .price{
							    	font-family: 'Conv_Product Sans Bold';
									color: #a7c125;
									font-size: 30px;
								    margin: 10px 0;
							    }
						    }
							.col-right{
								padding: 20px;
								.title{
									font-size: 22px;
								}
								.percentage{
									font-size: 27px;
									font-family: 'Conv_Product Sans Bold';
								}
								.ask{
									position: absolute;
									top: 10px;
									right: 0;
								}
							}
						}						
					}
				}
			}
		}
	}
	
	.panel-heading .accordion-toggle:after {
	    /* symbol for "opening" panels */
	    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
	    float: right;        /* adjust as needed */
        background: url(../img/top-arrow.png) no-repeat center;
		color: transparent;
	}
	.panel-heading .accordion-toggle.collapsed:after {
	    /* symbol for "collapsed" panels */
	    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
	    background: url(../img/bottom-arrow.png) no-repeat center;
		color: transparent;
	}
	
	#accordion4{
		.panel-default{
			margin-top: 0;
		}
	}
}

#compare{
	padding-bottom: 0px;
	.list{
		ul{
			padding: 15px 0;
			margin: 0;
			li{
				font-family: 'Conv_Product Sans Regular';
				list-style: none;
				background: url(../img/check.png) no-repeat left;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 60px;
				text-align: left;
				font-size: 17px;
				@media screen and (min-width: 768px)and(max-width: 1024px) {
					font-size: 12px;
					background-size: 10%;
					padding-left: 50px;
				}
			}
		}
	}
}

#affordable{
	padding: 50px 0 90px;
	@media screen and (max-width: 1024px) {
		padding: 30px 0;
	}
}

.error{
	position: absolute;
    top: 100%;
    left: 0;
    color: red;
}

#myProgress {
    width: 100%;
    padding: 5px 0;
    background: #f1f1f1 url(../img/bg-progress.png);
    #myBar {
	    width: 3%;
	    height: 18px;
	    border-top: 1px solid #ececec;
	    border-radius: 0px 10px 10px 0px;
	    background-color: #e8d255;
	    -webkit-transition: width 1s; /* Safari */
    	transition: width 1s;
	}
}

#review{
	padding: 90px 0;
	@media screen and (min-width: 320px)and(max-width: 767px) {
	    border-top: 1px solid #ebebeb;
    	padding-top: 30px;
	}
	@media screen and (min-width: 768px)and(max-width: 1024px) {
		padding: 20px 0 50px;
	}
}

.formnya{
	margin-left: 20px;
	@media screen and (max-width: 1024px) {
		margin-left: 0;
	}
	.descx{
		padding: 0 20px;
		@media screen and (max-width: 1024px) {
			padding: 0 0 20px;
		}
		label{
			@media screen and (max-width: 1024px) {
			    font-size: 14px !important;
			    margin-bottom: 20px;
			}
		}
		span{
			font-family: 'Conv_Product Sans Bold';
		}
	}
	#get-my-deal{
		.col-custom-left2{
			label{
				font-size: 20px;
			}
			label.error{
				font-size: 14px;
				position: absolute;
				left: 0;
				top: 100%;
				color: red;
			}
		}
		.col-custom-right2{
			border-left: 0;
			.customer-review-wrapper{
				position: relative;
				border: 1px solid #ccc;
				border-radius: 5px;
			    padding: 40px;
    			margin-top: 80px;
				.img{					
				    position: absolute;
			        top: -40px;
			        @media screen and (max-width: 1024px) {
		        	    position: initial;
			        }
			        img{
			        	border-radius: 50%;
						width: 110px;
						height: 110px;
			        }
				}
				.title{
					font-size: 30px;
					margin-bottom: 20px;
					position: absolute;
					right: 50px;
					top: 20px;
					@media screen and (max-width: 1024px) {
						position: initial;
					}
					span{
						font-family: 'Conv_Product Sans Bold';
					}
				}
				.comment{
					padding-top: 50px;
					font-size: 18px;
					font-family: 'Conv_Product Sans Regular';
					@media screen and (max-width: 1024px) {
						padding-top: 0; 
					}
				}
				.name{
					font-size: 24px;
					padding: 20px 0;
					font-family: 'Conv_Product Sans Regular';
				}
			}
		}
	}
	.form-group{
		width: 100%;
		padding: 20px;
		@media screen and (max-width: 1024px) {
			padding: 20px 0;
		}
		.input-group{
			width: 100%;
			.input-group-addon{
				i{
				    color: #25a69d;
    				font-size: 22px;
				}
			}
			input{
				height: 72px;
				font-size: 18px;
			}
		}
		.col3{
			width: 24% !important;
			padding: 20px;
			.error{
			    position: inherit;
		        text-align: center;
			}
			@media screen and (max-width: 1024px) {
			    display: inline-block;
			    padding: 5px;
			}
		}
	}
	.no-bottom{
		padding-bottom: 0 !important;
	}
	.input-group-addon{
		background: none;
		@media screen and (max-width: 1024px) {
		    width: 60px;
		}
	}
	.my-tool-tip{
		position: absolute;
		right: 5px;
		top: 5px;
		z-index: 2;
		color: #7e7e7e;
		i{
		    font-size: 18px;
			padding: 5px;
		}
	}
}

header{
	padding: 20px 0;
	.head-left{}
	.head-right{
		.contact{
			.tlp{
				background: #25a69d;
				color: #fff;
				width: 35px;
				height: 35px;
				line-height: 35px;
				font-size: 18px;
				text-align: center;
				border-radius: 50%;
				margin-right: 5px;
			}
			.tlp-text{
				.help{
					color: #e4ca39;
					text-transform: uppercase;
					font-size: 9px;
				}
				.phone{
					color: #7c8786;
			    	line-height: 22px;
					font-size: 22px;
				}
			}
		}
	}
}

#choosing-wrapper{
	background: url(../img/bg-top.jpg) no-repeat center;
	background-size: cover;
	height: 100%;
	text-align: center;
	position: relative;
	@media screen and (max-width: 1024px) {
		height: 900px;
	}
	.choosing{
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 20%;
	    max-width: 600px;
	    margin: auto;
	    text-align: center;
	    color: #fff;
	    @media screen and (max-width: 1024px) {
			padding: 10px;
		}
		.title{
	    	color: #fff;
    	    border-bottom: 1px solid;
    	    padding-bottom: 20px;
	    	font-size: 42px;
    	    margin-bottom: 20px;
	    	font-family: 'proxima_nova_ltthin';
	    	span{
	    		font-family: 'proxima_nova_ltsemibold';
	    	}
	    	@media screen and (max-width: 1024px) {
	    		font-size:40px;
	    	}
	    }
	    .list{
	    	padding: 20px;
	    	ul{
	    		padding: 0;
	    		margin: 0;
	    		li{
	    			font-family: 'Conv_Product Sans Regular';
	    			list-style: none;
	    			background: url(../img/check.png) no-repeat left;
    			    padding-top: 20px;
    			    padding-bottom: 20px;
    			    padding-left: 60px;
	    			text-align: left;
	    			font-size: 24px;
	    		}
	    	}
	    }
	}
}

#result,
#step2, #step2ref, #step4-ref, #step5-ref, #step3, #step4, #step5, #step6, #step7, #step8-yes, #step8-no, #step9-yes, #step9-no, #step10-yes, #step10-no, #step11-yes, #step12, #step13-yes, #step13-no, #step14-yes, #step15-yes, #step16-yes, #step17, #get-my-deal, #sms{
	display: none;
}

#sms{
	input{
		text-align: center;
	}
}

.content-wrapper{
	.tagline-wrapper{
		background: url(../img/bg-top.jpg) no-repeat center bottom;
		background-size: cover;
		min-height: 560px;
		text-align: center;
		position: relative;
		.tagline{
			height: 60%;
			margin: auto;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
		    .title{
		    	color: #fff;
		    	font-size: 42px;
	    	    margin-bottom: 20px;
		    	font-family: 'proxima_nova_ltthin';
		    	span{
		    		font-style: italic;
		    		font-family: 'proxima_nova_ltsemibold';
		    	}
		    }
			.blocks-feature{
				display: inline-block;
				ul{
					padding: 0;
					margin: 0;
					li{
						display: inline-block;				
						margin: 0px 20px;	
						a{
							text-decoration: none;
							color: #333;
							display: block;
							.box-wrapper{
								min-width: 315px;
								text-align: center;
								background: #4eb7af;
								border-radius: 5px 5px 0 0;		
								.ico{
									display: inline-block;		
								    min-height: 120px;
		    						padding-top: 30px;			
								}
								.txt{
									background: #fff;
									min-height: 60px;
									font-size: 18px;
									line-height: 60px;
								    border-radius: 0 0 5px 5px;
								    font-family: 'Conv_Product Sans Regular';
								    span{
								    	font-family: 'Conv_Product Sans Bold';
								    }
								}
							}
						}						
					}
				}
			}
			.blocks-feature-mobile{
				display: inline-block;
				ul{
					padding: 0;
					margin: 0;
					li{
						display: block;				
						margin: 20px 0;	
						.box-wrapper{
							display: inline-block;
							width: 100%;
							@media screen and (min-width: 350px) {
								width: 70%;
							}
							.ico{
							    float: left;
							    background: #fff;
							    height: 128px;
						        line-height: 128px;
							    text-align: center;	
							    img{
						    	    display: inline-block;
							    }
							}
							.txt{
								background: #4eb7af;
								font-size: 14px;
							    height: 128px;
    							line-height: 128px;
								float: left;
								color: #fff;
							    font-family: 'Conv_Product Sans Regular';
							    span{
							    	font-family: 'Conv_Product Sans Bold';
							    }
							}
						}
					}
				}
			}
			.down{
			    position: absolute;
				bottom: -80px;
				left: 0;
				right: 0;
				a{
					color: #fff;
					font-size: 40px;
					text-decoration: none;
				}
			}
		}
		
	}
	
	.tagline-green-wrapper{
		display: none;
		background: #24a69c url(../img/wave.png) repeat-x center bottom;
		min-height: 200px;
		background-size: contain; 
		text-align: left;
		position: relative;
		.tagline{
			flex-direction: row;
		    display: flex;
		    align-items: center;
			margin: auto;
			position: absolute;
			top: -25px; left: 0; bottom: 0; right: 0;font-family: 'proxima_nova_ltthin';
		    .title-thx{
		    	color: #fff;
		    	font-size: 47px;
		    	span{
		    		font-family: 'proxima_nova_ltsemibold';
		    	}
		    	@media screen and (max-width: 1024px) {
		    		font-size:40px;
		    		line-height:40px;
		    	}
		    }
		    .desc{
		    	color: #fff;
		    	font-size: 20px;
		    	margin-left: 5px;
		    	line-height: 25px;
		    }
		}		
	}

	.tagline-white-wrapper{
		background: url(../img/bg-white.jpg) repeat-x center bottom;
		min-height: 200px;
		text-align: center;
		background-size: cover;
		position: relative;
		.tagline{
			flex-direction: row;
		    display: flex;
		    align-items: center;
			margin: auto;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
		    .title{
		    	color: #25a69d;
		    	font-size: 47px;
	    	    margin-bottom: 20px;
		    	font-family: 'proxima_nova_ltthin';
		    	span{
		    		font-family: 'proxima_nova_ltsemibold';
		    	}
		    	@media screen and (max-width: 1024px) {
		    		font-size:40px;
		    		line-height:40px;
		    	}
		    }
		}
	}

	.column-wrapper{
		padding: 50px 0;
		color: #616161;
		font-family: 'Conv_Product Sans Regular';		
		webkit-font-smoothing: none; 
		-webkit-font-smoothing: antialiased;
		.title{
			font-size: 34px;
			margin-bottom: 20px;
			@media screen and (min-width: 768px)and(max-width: 1024px) {
				font-size: 24px;
			    margin-bottom: 10px;
			}
			@media screen and (min-width: 320px)and(max-width: 767px) {
				font-size: 27px;
			}
			img{
			    display: inline-block;
    			margin-top: -20px;
			}
		}
		.desc{
			font-size: 18px;
			line-height: 40px;
			@media screen and (min-width: 768px)and(max-width: 1024px) {
				line-height: 24px;
				font-size: 14px;
			}
		}
		.column-left{
			.rate{
				margin-bottom: 20px;
				.skor-left{
					background: url(../img/circle.png) no-repeat;
					color: #fff;
					font-size: 44px;
					text-align: center;
					line-height: 98px;
					width: 100px;
					height: 100px;
					border-radius: 50%;
				}
				.skor-right{
					margin: 25px 15px;
					.stars-wrapper{
						.stars{
							display: inline-block;
							color: #e4ca39;
							font-size: 20px;
						}
					}
				}
			}
			.img-bottom{
			    margin-top: 20px;
			    @media screen and (min-width: 320px)and(max-width: 1024px){
		    	    margin: 0 0 30px;
			    }
			    @media screen and (min-width: 768px)and(max-width: 1024px) {
			    	margin-top: 0;
			    }
			}
		}
		.col-custom-left{
			position: relative;
			@media screen and (max-width: 767px) {
				padding: 0;
			}
			img{
				position: absolute;
				left: -60px;
				@media screen and (max-width: 767px) {
					position: initial;
				}
				@media screen and (min-width: 1600px) {
					left: -38%;
				}
			}
		}
		.col-custom-left2{
			.title{
				font-size: 23px;
			}
			.border{
				margin-bottom: 20px;
				@media screen and (max-width: 1024px) {
					display: none;
				}
			}
			.desc{
				font-size: 18px;
				@media screen and (max-width: 1024px) {
					display: none;
				}
			}
			.next-step{
				margin: 0;
			}
		}
		
		.column-right{
			.sponsor{
				border-bottom: 1px solid #eee;
			    padding-bottom: 20px;
			    margin-bottom: 20px;
			    outline: none;
				img{
					display: inline-block;
					width: 100%;
				}
			}
			.sponsor-small{
				margin-bottom: 20px;
				.img{
					width: 120px;
					@media screen and (min-width: 420px)and(max-width: 1024px){
						width: 100px;
					}
					@media screen and (min-width: 320px)and(max-width: 416px) {
						width: 80px;
						display: inline-block;
					}
				}
				.text{
					font-size: 20px;
					margin: 20px;
					font-family: 'Conv_Product Sans Regular';		
					span{
						display: block;
						font-family: 'Conv_Product Sans Bold';
					}
					@media screen and (min-width: 420px)and(max-width: 1024px){
						font-size: 13px;
    					margin: 20px 10px;
					}
					@media screen and (min-width: 320px)and(max-width: 416px) {
						    font-size: 10px;
						    margin: 20px 10px;
					}
				}
			}
			.teks{
				font-size: 24px;
				font-family: 'Conv_Product Sans Bold';
				margin-bottom: 20px;
				span{
					font-family: 'Conv_Product Sans Regular';					
				}
			}
			.box-review-wrapper{
			    position: absolute;
    			top: -150px;
    			@media screen and (max-width: 1024px) {
				    margin-top: 30px;
    				position: initial;
    			}
				.box-review{
					box-shadow: 0px 0px 40px 0px #ccc;
				    border: 1px solid #ccc;
				    border-radius: 5px;
				    padding: 40px;
				    background: #fff;
				    @media screen and (min-width: 320px)and(max-width: 767px) {
				    	box-shadow: none;
			    	    padding: 20px;
				    }
				    @media screen and (min-width: 768px)and(max-width: 1024px) {
				    	box-shadow: 0px 0px 20px 0px #ccc;
				    }
					.review-block{
						padding-bottom: 20px;
						.title{
							font-family: 'Conv_Product Sans Bold';
							font-size: 22px;
							margin-bottom: 0px;
						}
						.stars-wrapper{
							.stars{
								display: inline-block;
								color: #e4ca39;
								font-size: 20px;
							}
						}
						.by{
							margin: 5px 10px;
						}
						.comment{
							font-size: 16px;
						}
					}
					.btn{
						width: 100%;
						a{
							display: block;
						}
					}
				}
			}
		}
		.col-custom-right{
		    float: right;
    		width: 50%;
		    padding-top: 50px;
    		padding-left: 30px;
    		@media screen and (min-width: 320px)and(max-width: 767px){
    			float: none;
    			width: 100%;
    			padding-left: 15px;
    		}
    		@media screen and (min-width: 768px)and(max-width: 1024px){
				padding: 0;				
    		}
		}
		.col-custom-right2{
			border-left: 1px solid #efefef;
			@media screen and (max-width: 768px) {
				border-left: none;
			}
			.desc{
				font-family: 'Conv_Product Sans Regular';	
				font-size: 17px;
				line-height: 27px;
				color: #a0a0a0;
			    margin: 0 20px;
			    @media screen and (max-width: 1024px) {
			    	margin: 0;
			    }
			}
			.list{
				ul{
					margin: 0;
					padding: 0;
					li{
						cursor: pointer;
						list-style: none;
						font-family: 'Conv_Product Sans Regular';	
						font-size: 20px;
						border: 1px solid #efefef;
						padding: 20px;
						border-radius: 5px;
						margin: 20px 40px;
						@media screen and (max-width: 1024px) {
							margin: 0px 0 20px;
						}
						.img{
							float: left;
							text-align: center;
							img{
								display: inline-block;
							}
						}
						.text{
							float: left;
						    margin: 0px;
						    @media screen and (max-width: 1024px) {
    							font-size: 14px;
    							margin: 0;
							    line-height: 30px;
						    }
							span{
								font-family: 'Conv_Product Sans Bold';
							}
						}
					}
				}
			}
		}

		.column-ceklist{
			.ceklist-block{
				.text{
				    font-family: 'Conv_Product Sans Regular';
				    list-style: none;
				    background: url(../img/check.png) no-repeat left;
					padding-top: 20px;
					padding-bottom: 20px;
					padding-left: 50px;
				    text-align: left;
				    @media screen and (min-width: 768px)and(max-width: 1024px) {
			    	    padding-bottom: 0px;
			    	    background-size: 15%;
			    	    padding-left: 35px;
				    }
				}
			}
		}
	}
}

footer{
	background: #f9f9f9;
	font-family: 'Conv_Product Sans Regular';
	color: #b0b0b0;
	padding: 40px 40px 20px;
	@media screen and (max-width: 1024px) {
		padding: 40px 20px;
	}
	.menu-footer{
		margin-bottom: 20px;
		ul{
			padding: 0;
			margin: 0;
			li{
				list-style: none;
				float: left;
				margin-right: 40px;
				@media screen and (max-width: 1024px) {
				    margin-right: 10px;
    				font-size: 12px;
				}
				a{
					color: #25a69d;
					text-decoration: none;
					&:hover{
						color: #616161;
					}
				}
			} 
		}
	}
	.bottom{
		margin: 20px 0; 
		padding: 20px 0;
		border-top: 1px solid #e1e1e1;
		@media screen and (max-width: 1024px) {
			margin-bottom: 0;
		}
		.bottom-right{
			color: #a5a5a5;
			margin-top: 5px;
			@media screen and (min-width: 420px)and(max-width: 1024px) {
				width: 50%;
			}
		}
	}
	
}
.extra_bg_cat{
	display:none;
	@media screen and (min-width: 1600px) {
		display: block;
	}
}
@media screen and (min-width: 1890px) {
	.bg_cat{
		display: none;
	}
	
}