@charset "UTF-8";
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/** Proxima Nova **/
@font-face {
  font-family: 'proxima_nova_altbold';
  src: url("../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.eot");
  src: url("../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff2") format("woff2"), url("../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.svg#proxima_nova_altbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot");
  src: url("../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff2") format("woff2"), url("../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url("../fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot");
  src: url("../fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff2") format("woff2"), url("../fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Semibold-webfont.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltthin';
  src: url("../fonts/Mark Simonson - Proxima Nova Thin-webfont.eot");
  src: url("../fonts/Mark Simonson - Proxima Nova Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff2") format("woff2"), url("../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Thin-webfont.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Thin-webfont.svg#proxima_nova_ltthin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Product Sans Regular';
  src: url("../fonts/Product Sans Regular.eot");
  src: local("☺"), url("../fonts/Product Sans Regular.woff") format("woff"), url("../fonts/Product Sans Regular.ttf") format("truetype"), url("../fonts/Product Sans Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Product Sans Bold';
  src: url("../fonts/Product Sans Bold.eot");
  src: local("☺"), url("../fonts/Product Sans Bold.woff") format("woff"), url("../fonts/Product Sans Bold.ttf") format("truetype"), url("../fonts/Product Sans Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 77, ../sass/print.scss */
html {
  height: 100%;
}

/* line 81, ../sass/print.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova';
}

/* line 88, ../sass/print.scss */
.center {
  text-align: center;
}

/* line 92, ../sass/print.scss */
.nopad {
  padding: 0;
}

/* line 96, ../sass/print.scss */
.btn-mobile {
  margin: 20px 0;
}

/* line 100, ../sass/print.scss */
.next-step {
  text-align: center;
  margin: 40px 0;
}
/* line 103, ../sass/print.scss */
.next-step .btn {
  padding: 10px 50px;
  border-radius: 5px;
  background: #25a69d;
  color: #fff;
  font-family: 'Conv_Product Sans Bold';
  text-align: center;
  font-size: 26px;
  display: inline-block;
  width: 100%;
  border: none;
  box-shadow: none;
}
/* line 115, ../sass/print.scss */
.next-step .btn i {
  margin-left: 10px;
}
/* line 118, ../sass/print.scss */
.next-step .btn:hover {
  color: #1e847d;
}

/* line 124, ../sass/print.scss */
.btn {
  background: #25a69d;
  font-family: 'Conv_Product Sans Bold';
  text-align: center;
  font-size: 18px;
  display: inline-block;
}
/* line 130, ../sass/print.scss */
.btn a {
  color: #fff;
  padding: 10px 50px;
  text-decoration: none;
}
/* line 134, ../sass/print.scss */
.btn a:hover {
  color: #1e847d;
}

/* line 140, ../sass/print.scss */
.clear {
  clear: both;
}

/* line 145, ../sass/print.scss */
.radio-group .radio {
  cursor: pointer;
  list-style: none;
  font-family: 'Conv_Product Sans Regular';
  font-size: 20px;
  border: 1px solid #efefef;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 40px;
  display: block;
}
@media screen and (max-width: 1024px) {
  /* line 145, ../sass/print.scss */
  .radio-group .radio {
    margin: 0 0 20px;
  }
}
/* line 158, ../sass/print.scss */
.radio-group .radio img {
  float: left;
}
/* line 161, ../sass/print.scss */
.radio-group .radio .text {
  float: left;
  margin: 5px 20px;
}
@media screen and (max-width: 1024px) {
  /* line 161, ../sass/print.scss */
  .radio-group .radio .text {
    font-size: 14px;
  }
}
/* line 167, ../sass/print.scss */
.radio-group .radio .text span {
  font-family: 'Conv_Product Sans Bold';
}
/* line 172, ../sass/print.scss */
.radio-group .selected {
  border: 2px solid #25a69d;
}

/* line 181, ../sass/print.scss */
.yes-no .choose2 {
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 186, ../sass/print.scss */
.yes-no .choose2 .blocks {
  border: 1px solid #efefef;
  margin: 20px;
  padding: 20px;
}
/* line 190, ../sass/print.scss */
.yes-no .choose2 .blocks img {
  float: none;
  display: inline-block;
}
/* line 194, ../sass/print.scss */
.yes-no .choose2 .blocks .text {
  float: none;
  display: inline-block;
}
/* line 202, ../sass/print.scss */
.yes-no .selected .blocks {
  border: 2px solid #25a69d;
}

@media screen and (max-width: 1024px) {
  /* line 209, ../sass/print.scss */
  #rates {
    background: #fafafa;
  }
  /* line 212, ../sass/print.scss */
  #rates .title {
    color: #5a5a5a;
  }
}

/* line 220, ../sass/print.scss */
#result .panel-group .panel-default {
  border-radius: 0;
  border: none;
  margin: 40px 0;
  background: none;
}
/* line 225, ../sass/print.scss */
#result .panel-group .panel-default .panel-heading {
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
}
/* line 229, ../sass/print.scss */
#result .panel-group .panel-default .panel-heading .panel-title {
  font-size: 22px;
  font-family: 'Conv_Product Sans Regular';
}
/* line 232, ../sass/print.scss */
#result .panel-group .panel-default .panel-heading .panel-title a {
  display: block;
  color: #25a69d;
  text-decoration: none;
}
/* line 236, ../sass/print.scss */
#result .panel-group .panel-default .panel-heading .panel-title a span {
  font-family: 'Conv_Product Sans Bold';
}
/* line 244, ../sass/print.scss */
#result .panel-group .panel-default #collapseOne .tab-left {
  border: none;
}
/* line 248, ../sass/print.scss */
#result .panel-group .panel-default .panel-body {
  border: 1px solid #ddd;
  background: #fff;
}
/* line 251, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column {
  font-family: 'Conv_Product Sans Regular';
  color: #7a7a7a;
}
/* line 254, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-left {
  border-right: 1px solid #ddd;
  display: inline-block;
}
/* line 257, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-left .tab-left-block {
  padding: 20px;
  position: relative;
}
/* line 260, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-left .tab-left-block #indicatorContainer {
  position: relative;
  height: 100%;
}
/* line 263, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-left .tab-left-block #indicatorContainer .isi {
  position: absolute;
  text-align: center;
  top: 30%;
  margin: auto;
  left: 0;
  right: 0;
}
/* line 270, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-left .tab-left-block #indicatorContainer .isi span {
  font-size: 20px;
  color: #7b7b7b;
  line-height: 14px;
  font-family: 'Conv_Product Sans Bold';
}
/* line 276, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-left .tab-left-block #indicatorContainer .isi .prc {
  font-size: 29px;
  color: #7b7b7b;
}
/* line 281, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-left .tab-left-block #indicatorContainer canvas {
  width: 100% !important;
  height: 100% !important;
}
/* line 286, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-left .tab-left-block .col-isi {
  margin-top: 20px;
}
/* line 288, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-left .tab-left-block .col-isi .titlex {
  font-size: 23px;
  font-family: 'Conv_Product Sans Bold';
  color: #7b7b7b;
  line-height: 25px;
  display: table-cell;
  vertical-align: bottom;
  height: 50px;
}
/* line 297, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-left .tab-left-block .col-isi .price {
  font-family: 'Conv_Product Sans Bold';
  color: #ffbf3e;
  font-size: 30px;
  margin: 10px 0;
}
/* line 305, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-left .tab-left-block .col-right {
  padding: 20px;
}
/* line 307, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-left .tab-left-block .col-right .title {
  font-size: 22px;
}
/* line 310, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-left .tab-left-block .col-right .percentage {
  font-size: 27px;
  font-family: 'Conv_Product Sans Bold';
}
/* line 314, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-left .tab-left-block .col-right .ask {
  position: absolute;
  top: 10px;
  right: 0;
}
/* line 322, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-right {
  display: inline-block;
}
/* line 324, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-right .tab-right-block {
  padding: 20px;
  position: relative;
}
/* line 327, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-right .tab-right-block #indicatorContainer2 {
  position: relative;
  height: 100%;
}
/* line 330, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-right .tab-right-block #indicatorContainer2 .isi {
  position: absolute;
  text-align: center;
  top: 35%;
  margin: auto;
  left: 0;
  right: 0;
}
/* line 337, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-right .tab-right-block #indicatorContainer2 .isi span {
  font-size: 20px;
  color: #7b7b7b;
  line-height: 14px;
  font-family: 'Conv_Product Sans Bold';
}
/* line 343, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-right .tab-right-block #indicatorContainer2 .isi .prc {
  font-size: 29px;
  color: #7b7b7b;
}
/* line 348, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-right .tab-right-block #indicatorContainer2 canvas {
  width: 100% !important;
  height: 100% !important;
}
/* line 353, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-right .tab-right-block .col-isi {
  margin-top: 20px;
}
/* line 355, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-right .tab-right-block .col-isi .titlex {
  font-size: 23px;
  font-family: 'Conv_Product Sans Bold';
  color: #7b7b7b;
  line-height: 25px;
  display: table-cell;
  vertical-align: bottom;
  height: 50px;
}
/* line 364, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-right .tab-right-block .col-isi .price {
  font-family: 'Conv_Product Sans Bold';
  color: #a7c125;
  font-size: 30px;
  margin: 10px 0;
}
/* line 371, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-right .tab-right-block .col-right {
  padding: 20px;
}
/* line 373, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-right .tab-right-block .col-right .title {
  font-size: 22px;
}
/* line 376, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-right .tab-right-block .col-right .percentage {
  font-size: 27px;
  font-family: 'Conv_Product Sans Bold';
}
/* line 380, ../sass/print.scss */
#result .panel-group .panel-default .panel-body .tab-column .tab-right .tab-right-block .col-right .ask {
  position: absolute;
  top: 10px;
  right: 0;
}
/* line 393, ../sass/print.scss */
#result .panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  content: "\e114";
  /* adjust as needed, taken from bootstrap.css */
  float: right;
  /* adjust as needed */
  background: url(../img/top-arrow.png) no-repeat center;
  color: transparent;
}
/* line 400, ../sass/print.scss */
#result .panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";
  /* adjust as needed, taken from bootstrap.css */
  background: url(../img/bottom-arrow.png) no-repeat center;
  color: transparent;
}

/* line 409, ../sass/print.scss */
#compare {
  padding-bottom: 0px;
}
/* line 412, ../sass/print.scss */
#compare .list ul {
  padding: 15px 0;
  margin: 0;
}
/* line 415, ../sass/print.scss */
#compare .list ul li {
  font-family: 'Conv_Product Sans Regular';
  list-style: none;
  background: url(../img/check.png) no-repeat left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  text-align: left;
  font-size: 17px;
}

@media screen and (max-width: 1024px) {
  /* line 429, ../sass/print.scss */
  #affordable {
    padding: 0;
  }
}

/* line 435, ../sass/print.scss */
#myProgress {
  width: 100%;
  padding: 5px 0;
  background: #f1f1f1 url(../img/bg-progress.png);
}
/* line 439, ../sass/print.scss */
#myProgress #myBar {
  width: 3%;
  height: 18px;
  border-top: 1px solid #ececec;
  border-radius: 0px 10px 10px 0px;
  background-color: #e8d255;
  -webkit-transition: width 1s;
  /* Safari */
  transition: width 1s;
}

/* line 450, ../sass/print.scss */
.formnya {
  margin-left: 20px;
}
/* line 452, ../sass/print.scss */
.formnya .descx {
  padding: 0 20px;
}
/* line 454, ../sass/print.scss */
.formnya .descx span {
  font-family: 'Conv_Product Sans Bold';
}
/* line 460, ../sass/print.scss */
.formnya #get-my-deal .col-custom-left2 label {
  font-size: 20px;
}
/* line 464, ../sass/print.scss */
.formnya #get-my-deal .col-custom-right2 {
  border-left: 0;
}
/* line 466, ../sass/print.scss */
.formnya #get-my-deal .col-custom-right2 .customer-review-wrapper {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 40px;
  margin-top: 80px;
}
/* line 472, ../sass/print.scss */
.formnya #get-my-deal .col-custom-right2 .customer-review-wrapper .img {
  position: absolute;
  top: -40px;
}
@media screen and (max-width: 1024px) {
  /* line 472, ../sass/print.scss */
  .formnya #get-my-deal .col-custom-right2 .customer-review-wrapper .img {
    position: initial;
  }
}
/* line 478, ../sass/print.scss */
.formnya #get-my-deal .col-custom-right2 .customer-review-wrapper .img img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
}
/* line 484, ../sass/print.scss */
.formnya #get-my-deal .col-custom-right2 .customer-review-wrapper .title {
  font-size: 30px;
  margin-bottom: 20px;
  position: absolute;
  right: 50px;
  top: 20px;
}
@media screen and (max-width: 1024px) {
  /* line 484, ../sass/print.scss */
  .formnya #get-my-deal .col-custom-right2 .customer-review-wrapper .title {
    position: initial;
  }
}
/* line 493, ../sass/print.scss */
.formnya #get-my-deal .col-custom-right2 .customer-review-wrapper .title span {
  font-family: 'Conv_Product Sans Bold';
}
/* line 497, ../sass/print.scss */
.formnya #get-my-deal .col-custom-right2 .customer-review-wrapper .comment {
  padding-top: 50px;
  font-size: 18px;
  font-family: 'Conv_Product Sans Regular';
}
@media screen and (max-width: 1024px) {
  /* line 497, ../sass/print.scss */
  .formnya #get-my-deal .col-custom-right2 .customer-review-wrapper .comment {
    padding-top: 0;
  }
}
/* line 505, ../sass/print.scss */
.formnya #get-my-deal .col-custom-right2 .customer-review-wrapper .name {
  font-size: 24px;
  padding: 20px 0;
  font-family: 'Conv_Product Sans Regular';
}
/* line 513, ../sass/print.scss */
.formnya .form-group {
  width: 100%;
  padding: 20px;
}
/* line 516, ../sass/print.scss */
.formnya .form-group .input-group {
  width: 100%;
}
/* line 519, ../sass/print.scss */
.formnya .form-group .input-group .input-group-addon i {
  color: #25a69d;
  font-size: 22px;
}
/* line 524, ../sass/print.scss */
.formnya .form-group .input-group input {
  height: 72px;
}
/* line 528, ../sass/print.scss */
.formnya .form-group .col3 {
  width: 24% !important;
  padding: 15px 15px 0;
}
@media screen and (max-width: 1024px) {
  /* line 528, ../sass/print.scss */
  .formnya .form-group .col3 {
    display: inline-block;
    padding: 5px;
  }
}
/* line 537, ../sass/print.scss */
.formnya .no-bottom {
  padding-bottom: 0 !important;
}
/* line 540, ../sass/print.scss */
.formnya .input-group-addon {
  background: none;
}
/* line 543, ../sass/print.scss */
.formnya .my-tool-tip {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 2;
  color: #7e7e7e;
}
/* line 549, ../sass/print.scss */
.formnya .my-tool-tip i {
  font-size: 18px;
  padding: 5px;
}

/* line 556, ../sass/print.scss */
header {
  padding: 20px 0;
}
/* line 561, ../sass/print.scss */
header .head-right .contact .tlp {
  background: #25a69d;
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
}
/* line 573, ../sass/print.scss */
header .head-right .contact .tlp-text .help {
  color: #e4ca39;
  text-transform: uppercase;
  font-size: 9px;
}
/* line 578, ../sass/print.scss */
header .head-right .contact .tlp-text .phone {
  color: #7c8786;
  line-height: 22px;
  font-size: 22px;
}

/* line 588, ../sass/print.scss */
#choosing-wrapper {
  background: url(../img/bg-top.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 1024px) {
  /* line 588, ../sass/print.scss */
  #choosing-wrapper {
    height: 900px;
  }
}
/* line 597, ../sass/print.scss */
#choosing-wrapper .choosing {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  /* line 597, ../sass/print.scss */
  #choosing-wrapper .choosing {
    padding: 10px;
  }
}
/* line 609, ../sass/print.scss */
#choosing-wrapper .choosing .title {
  color: #fff;
  border-bottom: 1px solid;
  padding-bottom: 20px;
  font-size: 42px;
  margin-bottom: 20px;
  font-family: 'proxima_nova_ltthin';
}
/* line 616, ../sass/print.scss */
#choosing-wrapper .choosing .title span {
  font-family: 'proxima_nova_ltsemibold';
}
@media screen and (max-width: 1024px) {
  /* line 609, ../sass/print.scss */
  #choosing-wrapper .choosing .title {
    font-size: 40px;
  }
}
/* line 623, ../sass/print.scss */
#choosing-wrapper .choosing .list {
  padding: 20px;
}
/* line 625, ../sass/print.scss */
#choosing-wrapper .choosing .list ul {
  padding: 0;
  margin: 0;
}
/* line 628, ../sass/print.scss */
#choosing-wrapper .choosing .list ul li {
  font-family: 'Conv_Product Sans Regular';
  list-style: none;
  background: url(../img/check.png) no-repeat left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  text-align: left;
  font-size: 24px;
}

/* line 643, ../sass/print.scss */
#result,
#step2, #step2ref, #step4-ref, #step5-ref, #step3, #step4, #step5, #step6, #step7, #step8-yes, #step8-no, #step9-yes, #step9-no, #step10-yes, #step10-no, #step11-yes, #step12, #step13-yes, #step13-no, #step14-yes, #step15-yes, #step16-yes, #step17, #get-my-deal, #sms {
  display: none;
}

/* line 649, ../sass/print.scss */
.content-wrapper .tagline-wrapper {
  background: url(../img/bg-top.jpg) no-repeat center bottom;
  background-size: cover;
  min-height: 560px;
  text-align: center;
  position: relative;
}
/* line 655, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline {
  height: 60%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 660, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .title {
  color: #fff;
  font-size: 42px;
  margin-bottom: 20px;
  font-family: 'proxima_nova_ltthin';
}
/* line 665, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .title span {
  font-style: italic;
  font-family: 'proxima_nova_ltsemibold';
}
/* line 670, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .blocks-feature {
  display: inline-block;
}
/* line 672, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .blocks-feature ul {
  padding: 0;
  margin: 0;
}
/* line 675, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .blocks-feature ul li {
  display: inline-block;
  margin: 0px 20px;
}
/* line 678, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .blocks-feature ul li a {
  text-decoration: none;
  color: #333;
  display: block;
}
/* line 682, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .blocks-feature ul li a .box-wrapper {
  min-width: 315px;
  text-align: center;
  background: #4eb7af;
  border-radius: 5px 5px 0 0;
}
/* line 687, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .blocks-feature ul li a .box-wrapper .ico {
  display: inline-block;
  min-height: 120px;
  padding-top: 30px;
}
/* line 692, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .blocks-feature ul li a .box-wrapper .txt {
  background: #fff;
  min-height: 60px;
  font-size: 18px;
  line-height: 60px;
  border-radius: 0 0 5px 5px;
  font-family: 'Conv_Product Sans Regular';
}
/* line 699, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .blocks-feature ul li a .box-wrapper .txt span {
  font-family: 'Conv_Product Sans Bold';
}
/* line 708, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .blocks-feature-mobile {
  display: inline-block;
}
/* line 710, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .blocks-feature-mobile ul {
  padding: 0;
  margin: 0;
}
/* line 713, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .blocks-feature-mobile ul li {
  display: block;
  margin: 20px 0;
}
/* line 716, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .blocks-feature-mobile ul li .box-wrapper {
  display: inline-block;
  width: 100%;
}
@media screen and (min-width: 350px) {
  /* line 716, ../sass/print.scss */
  .content-wrapper .tagline-wrapper .tagline .blocks-feature-mobile ul li .box-wrapper {
    width: 70%;
  }
}
/* line 722, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .blocks-feature-mobile ul li .box-wrapper .ico {
  float: left;
  background: #fff;
  height: 128px;
  line-height: 128px;
  text-align: center;
}
/* line 728, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .blocks-feature-mobile ul li .box-wrapper .ico img {
  display: inline-block;
}
/* line 732, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .blocks-feature-mobile ul li .box-wrapper .txt {
  background: #4eb7af;
  font-size: 14px;
  height: 128px;
  line-height: 128px;
  float: left;
  color: #fff;
  font-family: 'Conv_Product Sans Regular';
}
/* line 740, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .blocks-feature-mobile ul li .box-wrapper .txt span {
  font-family: 'Conv_Product Sans Bold';
}
/* line 748, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .down {
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
}
/* line 753, ../sass/print.scss */
.content-wrapper .tagline-wrapper .tagline .down a {
  color: #fff;
  font-size: 40px;
  text-decoration: none;
}
/* line 763, ../sass/print.scss */
.content-wrapper .tagline-green-wrapper {
  display: none;
  background: url(../img/bg-thx.jpg) no-repeat center bottom;
  background-size: cover;
  min-height: 323px;
  text-align: left;
  position: relative;
}
/* line 770, ../sass/print.scss */
.content-wrapper .tagline-green-wrapper .tagline {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: 'proxima_nova_ltthin';
}
/* line 777, ../sass/print.scss */
.content-wrapper .tagline-green-wrapper .tagline .title-thx {
  color: #fff;
  font-size: 47px;
  margin-bottom: 20px;
}
/* line 781, ../sass/print.scss */
.content-wrapper .tagline-green-wrapper .tagline .title-thx span {
  font-family: 'proxima_nova_ltsemibold';
}
@media screen and (max-width: 1024px) {
  /* line 777, ../sass/print.scss */
  .content-wrapper .tagline-green-wrapper .tagline .title-thx {
    font-size: 40px;
    line-height: 40px;
  }
}
/* line 789, ../sass/print.scss */
.content-wrapper .tagline-green-wrapper .tagline .desc {
  color: #fff;
  font-size: 21px;
}
/* line 796, ../sass/print.scss */
.content-wrapper .tagline-white-wrapper {
  background: url(../img/bg-white.jpg) no-repeat center bottom;
  background-size: cover;
  min-height: 323px;
  text-align: center;
  position: relative;
}
/* line 802, ../sass/print.scss */
.content-wrapper .tagline-white-wrapper .tagline {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 809, ../sass/print.scss */
.content-wrapper .tagline-white-wrapper .tagline .title {
  color: #25a69d;
  font-size: 47px;
  margin-bottom: 20px;
  font-family: 'proxima_nova_ltthin';
}
/* line 814, ../sass/print.scss */
.content-wrapper .tagline-white-wrapper .tagline .title span {
  font-family: 'proxima_nova_ltsemibold';
}
@media screen and (max-width: 1024px) {
  /* line 809, ../sass/print.scss */
  .content-wrapper .tagline-white-wrapper .tagline .title {
    font-size: 40px;
    line-height: 40px;
  }
}
/* line 825, ../sass/print.scss */
.content-wrapper .column-wrapper {
  padding: 90px 0;
  color: #616161;
  font-family: 'Conv_Product Sans Regular';
}
/* line 829, ../sass/print.scss */
.content-wrapper .column-wrapper .title {
  font-size: 34px;
  margin-bottom: 20px;
}
/* line 832, ../sass/print.scss */
.content-wrapper .column-wrapper .title img {
  display: inline-block;
  margin-top: -20px;
}
/* line 837, ../sass/print.scss */
.content-wrapper .column-wrapper .desc {
  font-size: 18px;
  line-height: 40px;
}
/* line 842, ../sass/print.scss */
.content-wrapper .column-wrapper .column-left .rate {
  margin-bottom: 20px;
}
/* line 844, ../sass/print.scss */
.content-wrapper .column-wrapper .column-left .rate .skor-left {
  background: url(../img/circle.png) no-repeat;
  color: #fff;
  font-size: 44px;
  text-align: center;
  line-height: 98px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* line 854, ../sass/print.scss */
.content-wrapper .column-wrapper .column-left .rate .skor-right {
  margin: 25px 15px;
}
/* line 857, ../sass/print.scss */
.content-wrapper .column-wrapper .column-left .rate .skor-right .stars-wrapper .stars {
  display: inline-block;
  color: #e4ca39;
  font-size: 20px;
}
/* line 865, ../sass/print.scss */
.content-wrapper .column-wrapper .column-left .img-bottom {
  margin-top: 20px;
}
/* line 869, ../sass/print.scss */
.content-wrapper .column-wrapper .col-custom-left {
  position: relative;
}
/* line 871, ../sass/print.scss */
.content-wrapper .column-wrapper .col-custom-left img {
  position: absolute;
  left: -60px;
}
@media screen and (min-width: 1900px) {
  /* line 871, ../sass/print.scss */
  .content-wrapper .column-wrapper .col-custom-left img {
    left: -33%;
  }
}
/* line 880, ../sass/print.scss */
.content-wrapper .column-wrapper .col-custom-left2 .title {
  font-size: 23px;
}
/* line 883, ../sass/print.scss */
.content-wrapper .column-wrapper .col-custom-left2 .border {
  margin-bottom: 20px;
}
/* line 886, ../sass/print.scss */
.content-wrapper .column-wrapper .col-custom-left2 .desc {
  font-size: 18px;
}
/* line 889, ../sass/print.scss */
.content-wrapper .column-wrapper .col-custom-left2 .next-step {
  margin: 0;
}
/* line 895, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .sponsor {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  outline: none;
}
/* line 900, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .sponsor img {
  display: inline-block;
  width: 100%;
}
/* line 905, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .sponsor-small {
  margin-bottom: 20px;
}
@media screen and (max-width: 416px) {
  /* line 905, ../sass/print.scss */
  .content-wrapper .column-wrapper .column-right .sponsor-small {
    text-align: center;
  }
}
/* line 910, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .sponsor-small .img {
  width: 120px;
}
@media screen and (min-width: 420px) and (max-width: 1024px) {
  /* line 910, ../sass/print.scss */
  .content-wrapper .column-wrapper .column-right .sponsor-small .img {
    width: 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 416px) {
  /* line 910, ../sass/print.scss */
  .content-wrapper .column-wrapper .column-right .sponsor-small .img {
    width: 100px;
    float: none !important;
    display: inline-block;
  }
}
/* line 921, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .sponsor-small .text {
  font-size: 20px;
  margin: 20px;
  font-family: 'Conv_Product Sans Regular';
}
/* line 925, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .sponsor-small .text span {
  display: block;
  font-family: 'Conv_Product Sans Bold';
}
@media screen and (min-width: 420px) and (max-width: 1024px) {
  /* line 921, ../sass/print.scss */
  .content-wrapper .column-wrapper .column-right .sponsor-small .text {
    font-size: 16px;
    margin: 20px 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 416px) {
  /* line 921, ../sass/print.scss */
  .content-wrapper .column-wrapper .column-right .sponsor-small .text {
    font-size: 12px;
    float: none !important;
    display: inline-block;
    width: 100%;
    margin: 0;
  }
}
/* line 942, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .teks {
  font-size: 24px;
  font-family: 'Conv_Product Sans Bold';
  margin-bottom: 20px;
}
/* line 946, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .teks span {
  font-family: 'Conv_Product Sans Regular';
}
/* line 950, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .box-review-wrapper {
  position: absolute;
  top: -150px;
}
@media screen and (max-width: 1024px) {
  /* line 950, ../sass/print.scss */
  .content-wrapper .column-wrapper .column-right .box-review-wrapper {
    position: initial;
  }
}
/* line 956, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .box-review-wrapper .box-review {
  box-shadow: 0px 0px 40px 0px #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 40px;
  background: #fff;
}
@media screen and (max-width: 1024px) {
  /* line 956, ../sass/print.scss */
  .content-wrapper .column-wrapper .column-right .box-review-wrapper .box-review {
    box-shadow: none;
    padding: 20px;
  }
}
/* line 966, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .box-review-wrapper .box-review .review-block {
  padding-bottom: 20px;
}
/* line 968, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .box-review-wrapper .box-review .review-block .title {
  font-family: 'Conv_Product Sans Bold';
  font-size: 22px;
  margin-bottom: 0px;
}
/* line 974, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .box-review-wrapper .box-review .review-block .stars-wrapper .stars {
  display: inline-block;
  color: #e4ca39;
  font-size: 20px;
}
/* line 980, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .box-review-wrapper .box-review .review-block .by {
  margin: 5px 10px;
}
/* line 983, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .box-review-wrapper .box-review .review-block .comment {
  font-size: 16px;
}
/* line 987, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .box-review-wrapper .box-review .btn {
  width: 100%;
}
/* line 989, ../sass/print.scss */
.content-wrapper .column-wrapper .column-right .box-review-wrapper .box-review .btn a {
  display: block;
}
/* line 996, ../sass/print.scss */
.content-wrapper .column-wrapper .col-custom-right {
  float: right;
  width: 50%;
  padding-top: 50px;
  padding-left: 30px;
}
@media screen and (max-width: 1024px) {
  /* line 996, ../sass/print.scss */
  .content-wrapper .column-wrapper .col-custom-right {
    float: none;
    width: 100%;
    padding-left: 15px;
  }
}
/* line 1007, ../sass/print.scss */
.content-wrapper .column-wrapper .col-custom-right2 {
  border-left: 1px solid #efefef;
}
@media screen and (max-width: 768px) {
  /* line 1007, ../sass/print.scss */
  .content-wrapper .column-wrapper .col-custom-right2 {
    border-left: none;
  }
}
/* line 1012, ../sass/print.scss */
.content-wrapper .column-wrapper .col-custom-right2 .desc {
  font-family: 'Conv_Product Sans Regular';
  font-size: 18px;
  color: #a0a0a0;
  margin: 20px;
}
@media screen and (max-width: 1024px) {
  /* line 1012, ../sass/print.scss */
  .content-wrapper .column-wrapper .col-custom-right2 .desc {
    margin: 0;
  }
}
/* line 1022, ../sass/print.scss */
.content-wrapper .column-wrapper .col-custom-right2 .list ul {
  margin: 0;
  padding: 0;
}
/* line 1025, ../sass/print.scss */
.content-wrapper .column-wrapper .col-custom-right2 .list ul li {
  cursor: pointer;
  list-style: none;
  font-family: 'Conv_Product Sans Regular';
  font-size: 20px;
  border: 1px solid #efefef;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 40px;
}
/* line 1034, ../sass/print.scss */
.content-wrapper .column-wrapper .col-custom-right2 .list ul li img {
  float: left;
}
/* line 1037, ../sass/print.scss */
.content-wrapper .column-wrapper .col-custom-right2 .list ul li .text {
  float: left;
  margin: 5px 20px;
}
@media screen and (max-width: 1024px) {
  /* line 1037, ../sass/print.scss */
  .content-wrapper .column-wrapper .col-custom-right2 .list ul li .text {
    font-size: 14px;
  }
}
/* line 1043, ../sass/print.scss */
.content-wrapper .column-wrapper .col-custom-right2 .list ul li .text span {
  font-family: 'Conv_Product Sans Bold';
}
/* line 1054, ../sass/print.scss */
.content-wrapper .column-wrapper .column-ceklist .ceklist-block .text {
  font-family: 'Conv_Product Sans Regular';
  list-style: none;
  background: url(../img/check.png) no-repeat left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  text-align: left;
}

/* line 1068, ../sass/print.scss */
footer {
  background: #f9f9f9;
  font-family: 'Conv_Product Sans Regular';
  color: #b0b0b0;
  padding: 40px 40px 20px;
}
@media screen and (max-width: 1024px) {
  /* line 1068, ../sass/print.scss */
  footer {
    padding: 40px 20px;
  }
}
/* line 1076, ../sass/print.scss */
footer .menu-footer {
  margin-bottom: 20px;
}
/* line 1078, ../sass/print.scss */
footer .menu-footer ul {
  padding: 0;
  margin: 0;
}
/* line 1081, ../sass/print.scss */
footer .menu-footer ul li {
  list-style: none;
  float: left;
  margin-right: 40px;
}
@media screen and (max-width: 1024px) {
  /* line 1081, ../sass/print.scss */
  footer .menu-footer ul li {
    margin-right: 10px;
    font-size: 12px;
  }
}
/* line 1089, ../sass/print.scss */
footer .menu-footer ul li a {
  color: #25a69d;
  text-decoration: none;
}
/* line 1092, ../sass/print.scss */
footer .menu-footer ul li a:hover {
  color: #616161;
}
/* line 1099, ../sass/print.scss */
footer .bottom {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid #e1e1e1;
}
@media screen and (max-width: 1024px) {
  /* line 1099, ../sass/print.scss */
  footer .bottom {
    margin-bottom: 0;
  }
}
/* line 1106, ../sass/print.scss */
footer .bottom .bottom-right {
  color: #a5a5a5;
  margin-top: 5px;
}
@media screen and (min-width: 420px) and (max-width: 1024px) {
  /* line 1106, ../sass/print.scss */
  footer .bottom .bottom-right {
    width: 50%;
  }
}
